@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");
.countCont{
    /* display:grid; */
    text-align: center;   
    align-self: center;
    /* grid-template-columns: repeat(4, 150px) ;  */
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 2em;
    font-family: Rockwell;
    /* grid-gap: 50px; */
}

#confetti-holder{
    position: absolute;  
    
}

body{
    overflow: hidden;  
}

 .hide {
     display:none;
 }

 .show{
     display:block;
 }

 .gift-box{
    animation: shake 0.9s;
    animation-iteration-count: infinite;
 }

 @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.gift{
    position:absolute; 
    bottom: 0px;
    text-align:center;
    left: 0; 
    right: 0; 
  } 

  .sendSms{
    position:absolute; 
    bottom: 5%; 
  }

  .me {
    position:absolute; 
    bottom: 0; 
  }

  .bdayMsg{
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    font-size: 2em;
    font-family: Rockwell;
  }

  .uppercase{
    text-transform: uppercase;
  }

  .days,.hrs,.mins,.sec{
      font-family: "Luckiest Guy", cursive; 
      -webkit-font-smoothing: antialiased; 
      font-size: 3em;
      color:rgb(236, 57, 57);
      text-shadow:0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1),
      0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1),
      0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1),
      -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);
      
  }

 